
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucangjia:before { content: "\e62b"; }

.icon-weibo:before { content: "\e600"; }

.icon-shouji:before { content: "\e60d"; }

.icon-app:before { content: "\e603"; }

.icon-brand:before { content: "\e601"; }

.icon-gy:before { content: "\e602"; }

.icon-huaban:before { content: "\e604"; }

.icon-logo:before { content: "\e606"; }

.icon-qq:before { content: "\e607"; }

.icon-web:before { content: "\e608"; }

.icon-whitecircle:before { content: "\e609"; }

.icon-arrow-left:before { content: "\e60a"; }

.icon-kongxinyuan:before { content: "\e60b"; }

.icon-arrowright:before { content: "\e60c"; }

.icon-weixin:before { content: "\e605"; }

.icon-font:before { content: "\e60e"; }

.icon-news:before { content: "\e60f"; }

.icon-team:before { content: "\e610"; }

.icon-picturestorage:before { content: "\e611"; }

.icon-chart:before { content: "\e612"; }

.icon-icon:before { content: "\e613"; }

.icon-material:before { content: "\e614"; }

.icon-datastatistics:before { content: "\e615"; }

.icon-practical:before { content: "\e616"; }

.icon-community:before { content: "\e617"; }

.icon-color:before { content: "\e618"; }

.icon-front:before { content: "\e619"; }

.icon-other:before { content: "\e61a"; }

.icon-inspiration:before { content: "\e61b"; }

.icon-coolsite:before { content: "\e61c"; }

.icon-course:before { content: "\e61d"; }

.icon-interaction:before { content: "\e61e"; }

.icon-contest:before { content: "\e61f"; }

.icon-product:before { content: "\e620"; }

.icon-illustration:before { content: "\e621"; }

.icon-gotoTop:before { content: "\e626"; }

.icon-news-tengxunweibo:before { content: "\e622"; }

.icon-news-more:before { content: "\e62c"; }

.icon-news-weixin:before { content: "\e62d"; }

.icon-news-weibo:before { content: "\e62e"; }

